COMPOSE_PROJECT_NAME=wordpress

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_USER=your_wordpress_database_user
MYSQL_PASSWORD=your_wordpress_database_password

DATA_WORDPRESS=./data/wordpress
DATA_WEBSERVER=./data/nginx-conf
DATA_DB=./data/dbdata
DATA_CERTBOT=./data/certbot

SERVER_DOMAIN=localhost
SERVER_PORT=8080
SERVER_URL=http://localhost:8080

WORDPRESS_TITLE=WordpressTitle
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=Smurf!Smurf
WORDPRESS_ADMIN_EMAIL=foo@bar.com

CERT_EMAIL=